////Mixins



@mixin margin($vertical, $horizontal) {
  
  margin: #{$vertical} #{$horizontal};
}


@mixin padding($vertical, $horizontal) {
  
  padding: #{$vertical} #{$horizontal};
}



@mixin image() {
  
  @media (min-width: $tablet-size) {
      img {
      max-width: #{$medium-image}px;
      max-height: #{$medium-image}px; }
    }

  @media (min-width: $desktop-size) {  
    img {
      max-width: #{$large-image}px;
      max-height: #{$large-image}px; }
    }

}


@mixin contact() {
  
  @media (min-width: $tablet-size) {
    .contact {
    width: 70%; }
    }

  @media (min-width: $desktop-size) {  
    .contact {
    width: 60%; }
    }

}


@mixin main() {
  
  @media (min-width: $tablet-size) {
   .main-header p {
    width: 60%;
    text-align: left;
    margin: auto; }
    }

  @media (min-width: $desktop-size) {  
 .main-header p {
    margin: 0;
    width: 50%; }
    }

}



@mixin columns() {
  
  @media (min-width: $tablet-size) {
       .marketing, .search, .travel, .map, .photo, .calculator {
      width: #{$medium-screen};
      padding: 30px 10px; }
    }

  @media (min-width: $desktop-size) {  
    .marketing, .search, .travel, .map, .photo, .calculator {
      width: $large-screen;
      padding: 30px 10px; }
    }

}


@mixin footer() {
  
  @media (min-width: $tablet-size) {
    .footer-name {
      float: left; }

    .footer-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      float: right;
      position: static; 
      ul li {
        margin-left: 20px; 
      }
  }
    }

  @media (min-width: $desktop-size) {  
    .footer-name, .footer-nav {
      display: block; }

    .footer-container {
      max-width: 1150px; }
    }

}




@mixin navigation() {
  
  @media (min-width: $tablet-size) {
    .nav-name {
      margin: 0 auto;
      width: 30%; 
      display: flex;
      padding-top: 15px;
      }

    .nav-items {
    display: inline-block;
    margin: 0 220px;
      width: 50%; 
      ul li {
        display: inline-block;
        margin: 0 20px 0 0;
        padding: 0 0;
        background-color: $grey;
        text-align: center;
        a {
          background-color: $grey;
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          vertical-align: baseline;
            }
           }
       }
  }

  @media (min-width: $desktop-size) {  
      .nav-name {
      float: left;
      width: auto; }

    .nav-items {
       margin: auto;
      float: right;
      width: auto; }
    }

}



@mixin other_media() {
  
  @media (min-width: $tablet-size) {
   
    .image-header {
      float: right;
      width: 20%; }

    h1{
      font-size: #{$h1-font-size}em;
      margin-left: auto;
      margin-top: 0;
    }

    #hide-anchor {
      display: none; }


    header {

      display: none;
    }

   
     }

  @media (min-width: $desktop-size) {
   
    .body-container{
      max-width: 1150px; }

     }  

}