//// Variables


/* ---- Colors ---- */

$grey                   : #f0f5f5; // body background
$dark-gray              : #F0F0F0; //Used for footer top border


/* ---- Font Sizes ---- */

$h2-font-size           : 1;
$h3-font-size           : 1.1;
$h1-font-size           : 1.7;
$main-nav-font-size     : 1.5;


/* ---- Font-Family ---- */

$indie-flower           : 'Indie Flower', cursive;
$nunito                 : 'Nunito', sans-serif;


/* ---- Image Sizes ---- */

$small-image            : 280;
$medium-image           : 320;
$large-image            : 300;


/* ---- Column Width ---- */

$small-screen           : 100%;
$medium-screen          : 50%;
$large-screen           : 33.333%;


/* ---- Media Screen Sizes ---- */

$tablet-size            : 768px;
$desktop-size           : 1024px;
